body {
  font-family: Arial, sans-serif;
  background-color: #000000;
  color: #333;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 400px;
  margin: 40px auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.916);
}

h2 {
  text-align: center;
}

.input-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="password"],
button {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  margin-top: 5px;
}

button {
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

button:focus {
  outline: none;
}

.dark-mode {
  background-color: rgb(0, 0, 0);
  color: rgb(0, 0, 0);
}

.dark-mode button {
  background-color: #007bff;
}

.navcor {
  background-color: #333;
  padding: 15px;
  text-align: center;
  color: white;
}

.homebar {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.homebar a {
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  margin: 0 10px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.homebar a:hover {
  background-color: #555;
}

#logo {
  width: 180px;
  height: auto;
  position: absolute;
  top: -6px;
  left: 10px;
}

.header-buttons {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  gap: 10px;
}

.header-buttons button {
  color: #fff;
  padding: 8px 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
}

.modal {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.modal button {
  background-color: #3498db;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
  margin-top: 10px;
}

.modal button:hover {
  background-color: #2980b9;
}
#outra {
  width: 350px;
  height: auto;
  position: absolute;
  top: 50%;
  right: 60%;
  transform: translate(-50%, -50%);
}
.smurf {
  color:  rgb(0, 246, 242);
}
#texto-texto {
  text-align: center;
  color: #fff;
}

#texto-texto h1 {
  margin-bottom: 10px;
}

#texto-texto p {
  margin: 0 auto;
  max-width: 800px;
  font-size: 20px;
}
body {
  background-image: url('IMG/degrade-de-fundo-azul_23-2149337033.avif');
  background-repeat: no-repeat;
  background-size: cover;
}
